@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Zen+Dots&display=swap');
*{
    margin: 0;
    padding: 0;
}
 .box ul li{
    list-style: none;
    font-family: 'Pacifico', cursive;
     display: flex;
    flex-direction:row ; 
    /* justify-content: center; */
    padding-top: 50px;
     padding-left: 50px; 
    /* background-color: rgb(206, 245, 238); */
    width: 100vw;
     /* height: 200px;  */
     background-color: rgb(127, 87, 87);
     border-radius: 150px;
    /* /* height: 650px; */
    width: 500px; 
}
.myname{
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
body{
    background-color: rgb(206, 245, 238);  
}
/* .box{
    /* background-color: rgb(127, 87, 87);
    border-radius: 150px;
    height: 650px; */
    /* width: 200px; */
    /* padding-left: 300px; */

 
  .box ul{
    display: flex;
     flex-direction:column;
    padding-top: 50px; 
    padding-left: 450px; 
     /* background-color: rgb(127, 87, 87); */
    border-radius: 150px;
    height: 650px;
    width: 200px;  
 } 
nav{
    background-color:  rgb(107, 107, 119);
    color: white;
     display: flex; 
     flex-direction: row;  
     border-radius: 20px;
    width: 100vw; 
    height: 150px;
}

 nav ul li{
/* display: flex;
list-style: none;
flex-direction: row; */
  padding: 50px;  
}
nav ul{
    display: flex;
list-style: none;
flex-direction: row;
padding: 50px; 

}

nav img{
    width: 50px;
border-radius: 90px;
margin-left: 25px;
border: 20px;
height: 150px;
} 
nav ul li a{
    color: white;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 25px;
    background-color: rgb(29, 27, 27);
    border-radius: 50px;
    text-decoration: none;
} 